<div class="work">
    {{ with .Get "title" }}
        <h1>{{ . }}</h1>
    {{ end }}
    <p>{{ trim .Inner "\r\n" }}</p>
    <div class="workedwith workedwith--dark">
        <div class="workedwith-logo workedwith-logo--square">
            <img src="/images/jd-white.svg" alt="JD Sports" />
        </div>
        <div class="workedwith-logo workedwith-logo--redrow">
            <img src="/images/redrow-white.svg" alt="Redrow" />
        </div>
        <div class="workedwith-logo workedwith-logo--seddon">
            <img src="/images/seddon-white.svg" alt="Seddon" />
        </div>
        <div class="workedwith-logo workedwith-logo--revolution">
            <img src="/images/revolution-white.svg" alt="Revolution Bars" />
        </div>
        <div class="workedwith-logo workedwith-logo--square">
            <img src="/images/co-op-white.svg" alt="Cooperative" />
        </div>
        <!-- <div class="workedwith-logo workedwith-logo--cashgen">
            <img src="/images/cash-gen-white.svg" alt="Cash Generator" />
        </div> -->
        <div class="workedwith-logo workedwith-logo--square">
            <img src="/images/bayer-white.svg" alt="Bayer Group" />
        </div>
    </div>
    <div class="workedwith workedwith--colour">
        <div class="workedwith-logo workedwith-logo--square">
            <img src="/images/jd-colour.svg" alt="JD Sports" />
        </div>
        <div class="workedwith-logo workedwith-logo--redrow">
            <img src="/images/redrow-colour.svg" alt="Redrow" />
        </div>
        <div class="workedwith-logo workedwith-logo--seddon">
            <img src="/images/seddon-colour.svg" alt="Seddon" />
        </div>
        <div class="workedwith-logo workedwith-logo--revolution">
            <img src="/images/revolution-colour.svg" alt="Revolution Bars" />
        </div>
        <div class="workedwith-logo workedwith-logo--square">
            <img src="/images/co-op-colour.svg" alt="Cooperative" />
        </div>
        <!-- <div class="workedwith-logo workedwith-logo--cashgen">
            <img src="/images/cash-gen-colour.svg" alt="Cash Generator" />
        </div> -->
        <div class="workedwith-logo workedwith-logo--square">
            <img src="/images/bayer-colour.svg" alt="Bayer Group" />
        </div>
    </div>
</div>